.EmployeeTable {
  padding: 0.5rem;
}

.level-col{
  width: 20%;
}

.position-col{
  /* width: 550px; */
  width: 30%;
}
.buttons-col{
  /* width: 550px; */
  width: 20%;
}
.amount-col{
  /* width: 550px; */
  width: 10%;
}
.type-col{
  /* width: 550px; */
  width: 50%;
}

