.EmployeeTable {
  padding: 0.5rem;
}

.pagination{
  display: flex;
  text-align: center;
}
.button{
  font-size: larger;
}

.deleteForm{
  font-weight: bold;
  border: solid 2px black;
  border-radius: 10px;
  width: 400px;
}